In [1]:
import numpy as np
import pandas as pd

In [14]:
df1=pd.read_csv(r"C:\Users\91985\Downloads\Content.csv")
df2=pd.read_csv(r"C:\Users\91985\Downloads\Reactions.csv")
df3=pd.read_csv(r"C:\Users\91985\Downloads\ReactionTypes.csv")

In [3]:
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
df2.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
df3.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [9]:
df1.shape

(1000, 6)

In [10]:
df2.shape

(25553, 5)

In [11]:
df3.shape

(16, 4)

In [15]:
df1.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [17]:
df2.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [18]:
df3.isnull().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [19]:
df1.drop(columns=["URL"],inplace=True)

In [22]:
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [23]:
df1.isnull().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [28]:
df1['Type'].value_counts()

Type
photo    261
video    259
GIF      244
audio    236
Name: count, dtype: int64

In [29]:
df1['Category'].value_counts()

Category
technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: count, dtype: int64

In [30]:
df1['Category']=df1['Category'].replace('"','',regex=True)

In [33]:
df1['Category'].value_counts()

Category
technology         72
animals            68
travel             67
culture            66
science            64
food               62
healthy eating     61
cooking            61
soccer             61
fitness            61
tennis             59
dogs               58
education          57
studying           56
veganism           49
public speaking    49
Fitness             5
Animals             4
Science             4
Soccer              3
Food                2
Studying            2
Education           2
Travel              2
Technology          1
Culture             1
Healthy Eating      1
Veganism            1
Public Speaking     1
Name: count, dtype: int64

In [35]:
df1.rename(columns={"Type":"content type"},inplace=True)

In [36]:
df1.head()

,Unnamed: 0,Content ID,User ID,content type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [38]:
df2.dropna(subset=['Type'],inplace=True)

In [39]:
df2.shape

(24573, 5)

In [40]:
df2.drop(columns=['User ID'],inplace=True)

In [41]:
df2.head()

,Unnamed: 0,Content ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [42]:
df2.isnull().sum()

Unnamed: 0    0
Content ID    0
Type          0
Datetime      0
dtype: int64

In [43]:
df1.drop(columns=["User ID"],inplace=True)

In [44]:
df1.head()

,Unnamed: 0,Content ID,content type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [45]:
df1.isnull().sum()

Unnamed: 0      0
Content ID      0
content type    0
Category        0
dtype: int64

In [46]:
df3.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [48]:
df2.rename(columns={"Type":"Reaction type"},inplace=True)

In [49]:
df2.head()

,Unnamed: 0,Content ID,Reaction type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [50]:
df3.rename(columns={"Type":"Reaction type"},inplace=True)

In [51]:
df3.head()

   Unnamed: 0 Reaction type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

In [55]:
df1.drop(columns=['Unnamed: 0'],inplace=True)

In [56]:
df2.drop(columns=['Unnamed: 0'],inplace=True)

In [62]:
df3.drop(columns=['Unnamed: 0'],inplace=True)

In [57]:
merge_table=pd.merge(df1,df2,on="Content ID",how='inner')

In [58]:
merge_table.head()

,Content ID,content type,Category,Reaction type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared,2021-04-18 05:13:58
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested,2020-08-23 12:25:58

In [59]:
merge_table.shape

(24573, 5)

In [63]:
df=pd.merge(df3,merge_table,on="Reaction type",how="inner")

In [64]:
df.head()

,Reaction type,Sentiment,Score,Content ID,content type,Category,Datetime
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2021-04-11 14:29:59
1,heart,positive,60,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,2021-06-16 03:02:28
2,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,2020-12-25 00:09:41
3,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,2020-06-21 16:57:09
4,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,2021-05-14 12:47:27

In [65]:
df.shape

(24573, 7)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction type  24573 non-null  object
 1   Sentiment      24573 non-null  object
 2   Score          24573 non-null  int64
 3   Content ID     24573 non-null  object
 4   content type   24573 non-null  object
 5   Category       24573 non-null  object
 6   Datetime       24573 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [67]:
df.isnull().sum()

Reaction type    0
Sentiment        0
Score            0
Content ID       0
content type     0
Category         0
Datetime         0
dtype: int64

In [69]:
category_scores = df.groupby('Category')['Score'].sum().reset_index()

In [70]:
top_5_categories = category_scores.sort_values(by='Score', ascending=False).head(5)

In [71]:
top_5_categories

          Category  Score
13         animals  71242
20  healthy eating  69067
25      technology  68521
22         science  66549
15         culture  64952

In [72]:
df.to_csv("clean_data.csv",index=False)